includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - tests
        - database
        - routes
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - message: '#Unable to resolve the template type TComponent in call to method Livewire\\LivewireManager::test\(\)#'
          path: tests/Feature/*
        - message: '#Unable to resolve the template type TKey in call to function collect#'
          path: tests/Feature/DashboardTest.php
        - message: '#Unable to resolve the template type TValue in call to function collect#'
          path: tests/Feature/DashboardTest.php
        - message: '#Call to an undefined static method Illuminate\\Support\\Facades\\Log::shouldHaveReceived\(\)#'
          path: tests/Unit/Support/*
